<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
    <!--支持的数据库注入
      dataBaseName 给数据库起的名字（多个sqlserver 多个名字）
      connectionString 连接字符串
      type 格式说明 namespace.classname,assemblyFullName -->
    <section name="DataBaseCfgSection" type="yhz.Dashboard.Core.CfgSection.DataBaseCfgSectionHandler,yhz.Dashboard.Core"/>
  </configSections>

  <DataBaseCfgSection>
    <Database>
      <DataBaseName>SitMesDb_SqlServer</DataBaseName>
      <ConnectionString>server=hengde;database=SitMesDb;uid=sa;pwd=siemens</ConnectionString>
      <DataBaseType>yhz.Dashboard.Core.Db.SqlServerDb,yhz.Dashboard.Core</DataBaseType>
      <ExtendParas></ExtendParas>
    </Database>
  </DataBaseCfgSection>
  
</configuration>