@{
    Layout = "~/Views/Shared/Portal.cshtml";
}

<script>
    activeli($("#nav_li_main"));
</script>

<div class="container">

    <div class="row clearfix">

        <div class="col-md-12 column">
            <div class="jumbotron">
                @*<h1>
                    Siemens Dashboard!
                </h1>*@
                <p>
                    可视化看板工具提供数据项可配置、显示项可配置、布局可配置的全配置看板在线编辑功能。<br />
                    并提供看板终端的在线统一管理 <br />
                </p>

                <hr>

                <p>
                    <div class="alert alert-warning alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>
                            ASP.NET MVC 5!
                        </h4> <strong>回归本质,面向Web!</strong> ASP.NET MVC 是微软官方提供的以MVC模式为基础的ASP.NET Web应用程序(Web Application)框架
                    </div>
                </p>
                <p>
                    <div class="alert alert-warning alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>
                            ASP.NET Web API 2!
                        </h4> <strong>简单、快速!</strong>ASP.NET Web API 是一种框架，用于轻松构建可以访问多种客户端（包括浏览器和移动设备）的 HTTP 服务。 ASP.NET Web API 是一种用于在 .NET Framework 上构建 RESTful 应用程序的理想平台
                    </div>
                </p>

                <hr />

                <p>
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>
                            Bootstrap!
                        </h4> <strong>简单、直观、强悍!</strong> Bootstrap是Twitter推出的一个用于前端开发的开源工具包。它由Twitter的设计师Mark Otto和Jacob Thornton合作开发,是一个CSS/HTML框架。目前,Bootstrap最新版本为3.0
                    </div>
                </p>
                <p>
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>
                            Jquery!
                        </h4> <strong>高效、精简、JavaScript工具库!</strong> jQuery 是一个高效、精简并且功能丰富的 JavaScript 工具库。它提供的 API 易于使用且兼容众多浏览器，这让诸如 HTML 文档遍历和操作、事件处理、动画和 Ajax 操作更加简单
                    </div>
                </p>
                <p>
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>
                            Json!
                        </h4> <strong>简洁、易于交互!</strong> JSON(JavaScript Object Notation) 是一种轻量级的数据交换格式
                    </div>
                </p>
                <p>
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>
                            Layer!
                        </h4> <strong>易用、美观!</strong> 一个让你想到即可做到的Web弹窗/层解决方案
                    </div>
                </p>
            </div>

        </div>
    </div>
</div>